body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-track {
  background: white;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(252, 186, 3, 0.5);
  outline: 1px solid #8490bb;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.side-wrap {
  padding:20px;
  width:250px;
  height:100vh;
  position:fixed;
  top:0; right:0;
  background:white;
  /* border-left:10px solid lightgray; */
  transition: 500ms;
  z-index:10;
  border-left:1px dashed lightgray;
  overflow-y: scroll;

}

.side-wrap-month {
  padding:20px;
  width:250px;
  height:100vh;
  position:fixed;
  top:0; right:0;
  background:white;
  /* border-left:10px solid lightgray; */
  transition: 500ms;
  border-left:1px dashed lightgray;
  overflow-y: scroll;
}

.show-side{
  right:-150px;
}

textarea:focus{
  outline:none;
}
.daily-note{
  width:100%;
  border: 0px solid #d1d4ff;
  border-radius:5px;
  height:300px;
  padding:10px;
  background:rgba(209, 212, 255, 0.6);
  box-sizing: border-box;
  font-size:11px;
}
.add-extra{
  margin-top:10px;
  width:100%;
  padding:10px;
  border-radius:5px;
  border: 2px solid #d1d4ff;
  box-sizing: border-box;
  margin-bottom:50px;
}

.day-task-week{
  opacity:0;
  position: absolute;
  left:10px; top:5px;
  width:100%; height:10%;
  transition:500ms;
  text-align:center;
  margin:0; padding:0;

}

.clicked-week{
  opacity:1;
  color:'#15179e';
  transition:500ms;
  z-index:1;
}

.day-task-month{
  opacity:1;
  background:rgba(132, 144, 187, 0);
  transition:500ms;
  margin-top:10px;
  margin-bottom:10px;
  position:absolute;
  top:0; right:0;
  width:50px; height:50px;
}
.clicked-month{
  opacity:1;
  background:rgba(132, 144, 187, 0.2);
  color:white;
  transition:500ms;
}


h6{margin:0; padding:0;}